<section class="message-panal-container">
    @for(message of messages; track message.id){
        @if (message.sender !=="backend"){
            @if(message.sender === "user"){
                <div class="message-inner-container" style="justify-content: flex-end;">
                    <div class="message-container">
                        <div class="message">{{message.content}}</div>
                        <div class="avatar"></div>
                    </div>
                </div>
            } @if(message.sender === "assistant"){
                <div class="message-inner-container" style="justify-content: flex-start;">
                    <div class="message-container">
                        <div class="avatar1"></div>
                        <div class="message">{{message.content}}</div>
                    </div>
                </div>
            }
        }
    } @empty{
        <div class="no-message-container">NO Messages</div>
    }
    <div *ngIf="pendingBooking" class="confirm-card"> 
        <button (click)="confirmBooking()">Confirm booking</button> 
        <button (click)="cancelBooking()">Cancel</button> 
    </div> 
    <div *ngIf="pendingRideCreation" class="confirm-card">
        <button (click)="confirmBooking()">Create ride</button>
        <button (click)="cancelBooking()">Cancel</button>
    </div>
</section>