/*.map-container {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 15px;
}*/



/*#map {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 15px;
}*/
.map-controls {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

#map {
  height: calc(100vh - 60px);
  width: 100%;
}
