
<!--
<app-backnavbar></app-backnavbar>
<div class="map-wrapper">


<div id="map"></div>


<div class="controls">
<h3>Route planner</h3>


<input #origin placeholder="Origin city" />
<button (click)="setOrigin(origin.value)">Set origin</button>


<input #dest placeholder="Destination city" />
<button (click)="setDestination(dest.value)">Set destination</button>


<button class="clear" (click)="clearRoute()">Clear</button>


<div *ngIf="loading" class="loading">Searching...</div>
<div *ngIf="error" class="error">{{ error }}</div>
</div>-->



<app-backnavbar></app-backnavbar>
<app-map></app-map>
