.navbar {
  width: 100%;
  height: 70px;
  //background: #ffffff;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #050607;
}

.nav-links {
  display: flex;
  gap: 25px;

  a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      color: #0066ff;
    }
  }
}

.auth-buttons {
  display: flex;
  gap: 10px;

  .login-btn,
  .register-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #0066ff;
    cursor: pointer;
    transition: 0.2s;
    background: white;
  }

  .register-btn {
    background: #0066ff;
    color: white;
  }

  .login-btn:hover {
    background: #e7f1ff;
  }

  .register-btn:hover {
    background: #004bc4;
  }
}
