.user-input-container{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #9AD0C2;
    padding: 10px;
    .input-textfield{
        height: 40px;
        outline: 0;
        border: none;
        width: 95%;
        border-radius: 8px;
        padding: 2px 5px 2px 5px;
        font-family: "Roboto";
    }
    .input-textfield::placeholder{
        font-family: "Roboto";
    }
    .button{
        display: flex;
        align-items: center;
        height: 45px;
        width: 45px;
        border-radius: 50px;
        color: white;
        background-color: #209596;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        span{
            margin-left: 5px;
        }
    }
    .button:hover{
        background-color: #237879;
    }
}