.home-container {
  width: 100%;
  height: 645px;
  //min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: linear-gradient(135deg, #ffffff, #e7f1ff);
}

.hero {
  text-align: center;
  max-width: 650px;
  padding: 40px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.primary-btn {
  padding: 14px 28px;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  background: #0066ff;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  margin-bottom: 35px;
}

.primary-btn:hover {
  background: #004bc4;
}

.feature-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.feature-btn {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #f0f5ff;
  color: #004bc4;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.25s;
}

.feature-btn:hover {
  background: #d9e8ff;
}
